<div class="container">
  <div class="left-container">
    <h1>B&S Booking</h1>
  </div>

  <div class="right-container">
    <mat-card>
      <mat-card-title>Configurar Conta</mat-card-title>

      <mat-card-content>
        <div class="photo-container" (click)="changeImage($event)">
          <div *ngIf="signForm.get('url')!.value; else elseBlock">
            <app-photo [photoUrl]="signForm.get('url')?.value" photoWidth="10" photoHeight="10"> </app-photo>
          </div>
          <ng-template #elseBlock>
            <img id="profileImage" src="../../../../../../assets/defaultImage.png" />
          </ng-template>
          <input
            #photoInput
            hidden="true"
            type="file"
            (change)="isEdit ? photoInputChangeEdit($event) : photoInputChange($event)"
            accept=".png,.jpeg,.jpg,.giv,.svg"
          />
        </div>
        <form [formGroup]="signForm">
          <div class="form-email">
            <mat-form-field *ngIf="!isEdit">
              <mat-label>Email</mat-label>
              <input matInput type="email" required formControlName="email" />
              <mat-error *ngIf="signForm?.get('email')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nome Completo</mat-label>
              <input matInput type="text" required formControlName="name" />
              <mat-error *ngIf="signForm?.get('name')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nome da Empresa</mat-label>
              <input matInput type="text" required formControlName="enterpriseName" />
              <mat-error *ngIf="signForm?.get('enterpriseName')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>
          </div>

          <div class="form-enterprise">
            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input matInput type="number" required formControlName="phoneNumber" />
              <mat-error *ngIf="signForm?.get('phoneNumber')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Código Postal</mat-label>
              <input matInput type="text" required formControlName="postalCode" />
              <mat-error *ngIf="signForm?.get('postalCode')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>

            <app-select-box
              [rowsText]="weekDays"
              [selectedValues]="signForm.get('daysOff')?.value"
              (values)="getDaysOff($event)"
            ></app-select-box>
          </div>

          <div class="form-password" *ngIf="!isEdit">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
              <mat-error>Mínimo 6 caracteres </mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Repita a Password</mat-label>
              <input matInput formControlName="passwordConfirmation" [type]="hide ? 'password' : 'text'" required />
              <mat-error>Mínimo 6 caracteres ou passwords não coincidem</mat-error>
            </mat-form-field>
          </div>
          <div class="checkbox-terms-conditions">
            <mat-label><a>Termos e Privacidade </a> </mat-label>
            <mat-checkbox color="primary" formControlName="termsConditions"></mat-checkbox>
          </div>
        </form>
        <mat-card-actions>
          <button mat-flat-button type="button" color="warn" (click)="onCancelButton($event)">Voltar</button>
          <button
            mat-flat-button
            type="button"
            color="primary"
            [disabled]="signForm.invalid"
            (click)="!isEdit ? signIn(signForm?.value) : editUserData(signForm?.value)"
          >
            Concluir
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
