<div class="container">
  <div class="left-container">
    <div>
      <h1>B&S Booking</h1>
      <h3>Agendamentos</h3>
    </div>
  </div>

  <div class="right-container">
    <mat-card>
      <mat-card-title>Novo Agendamento</mat-card-title>
      <mat-card-content>
        <form [formGroup]="bookingForm">
          <div class="form-client-data">
            <mat-form-field appearance="fill">
              <mat-label>Nome do Cliente</mat-label>
              <input matInput type="text" required formControlName="client" />
              <mat-error *ngIf="bookingForm?.get('client')?.errors?.required">Field is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-form-field">
              <mat-label>Data do Agendamento</mat-label>
              <input matInput [matDatepicker]="datepicker" [min]="minDate" required formControlName="date" />
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancelar</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Hora do Agendamento</mat-label>
              <input matInput type="time" required formControlName="hour" />
              <mat-error *ngIf="bookingForm?.get('client')?.errors?.required">Field is required</mat-error>
            </mat-form-field>
          </div>

          <div class="form-booking-data">
            <mat-form-field appearance="fill" *ngIf="{'data': serviceList$ | async} as services">
              <mat-label>Escolha um serviço</mat-label>
              <mat-select formControlName="serviceId" (valueChange)="filterCollaboratorList($event)">
                <mat-option *ngFor="let service of services.data" [value]="service.documentId">{{ service.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="{'data': filteredCollaboratorList$ | async} as collaborators">
              <mat-label>Escolha um colaborador</mat-label>
              <mat-select formControlName="collaboratorId">
                <mat-option *ngFor="let collaborator of collaborators.data" [value]="collaborator.citizenCard"
                  >{{ collaborator.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <mat-card-actions *ngIf="{'user': user$ | async} as data">
          <div class="buttons-div">
            <button mat-flat-button type="button" color="warn" routerLink="/home/bookings" routerLinkActive="active">Cancelar</button>
            <button
              mat-flat-button
              type="button"
              color="primary"
              [disabled]="bookingForm.invalid"
              (click)="addBooking($event, bookingForm?.value, data.user)"
            >
              Concluir
            </button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
