<div class="container">
  <div class="left-container">
    <div>
      <h1>B&S Booking</h1>
      <h3>Serviços</h3>
    </div>
  </div>

  <div class="right-container">
    <mat-card>
      <mat-card-title>{{ textHeader }}</mat-card-title>

      <mat-card-content>
        <form [formGroup]="serviceForm">
          <div class="photo-container" (click)="changeImage($event)">
            <div *ngIf="serviceForm.get('url')!.value; else elseBlock">
              <app-photo [photoUrl]="serviceForm.get('url')?.value" photoWidth="10" photoHeight="10"> </app-photo>
            </div>
            <ng-template #elseBlock>
              <img id="profileImage" src="../../../../../assets/defaultImage.png" />
            </ng-template>
            <input
              #photoInput
              hidden="true"
              type="file"
              (change)="isEdit ? photoInputChangeEdit($event) : photoInputChange($event)"
              accept=".png,.jpeg,.jpg,.giv,.svg"
            />
          </div>
          <div class="form-collaborator-data">
            <mat-form-field>
              <mat-label>Serviço</mat-label>
              <input matInput type="text" required formControlName="name" />
              <mat-error *ngIf="serviceForm?.get('name')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Preço</mat-label>
              <input matInput type="number" required formControlName="price" />
              <span matPrefix>€&nbsp;</span>
              <mat-error *ngIf="serviceForm?.get('price')?.errors?.required">Campo necessário</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field *ngIf="{'data': collaboratorList$ | async} as collaborators">
              <mat-label>Colaborador</mat-label>
              <mat-select formControlName="collaboratorIdList" multiple>
                <mat-select-trigger>
                  {{serviceForm?.get('collaboratorIdList')?.value ?
                  getFirstCollaboratorName(serviceForm?.get('collaboratorIdList')?.value[0], collaborators?.data) : ''}}
                  <span *ngIf="serviceForm?.get('collaboratorIdList')?.value?.length > 1" class="example-additional-selection">
                    (+{{serviceForm?.get('collaboratorIdList')?.value.length - 1}} {{serviceForm?.get('collaboratorIdList')?.value?.length
                    === 2 ? 'outro' : 'outros'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let collaborator of collaborators.data" [value]="collaborator.citizenCard"
                  >{{ collaborator.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Descrição do serviço</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </form>

        <mat-card-actions *ngIf="{'user': user$ | async} as data">
          <div class="buttons-div">
            <button mat-flat-button type="button" color="warn" (click)="onCancelButton($event)">{{ buttonExitText }}</button>
            <button
              mat-flat-button
              type="button"
              color="primary"
              [disabled]="serviceForm.invalid"
              (click)="isEdit ? editService($event, serviceForm?.value ) : addService($event, serviceForm?.value, data.user)"
            >
              {{ buttonConfirmText }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
