<div class="container">
  <div class="container-header">
    <header>Colaboradores</header>
    <div class="button-container">
      <button mat-flat-button type="button" color="primary" (click)="addColaborator($event)">
        <mat-icon>person_add_alt_1</mat-icon>
        Novo Colaborador
      </button>
    </div>
  </div>

  <main>
    <div class="mat-elevation-z8">
      <mat-form-field appearance="standard">
        <mat-label
          ><span matPrefix><mat-icon inline="true">search</mat-icon></span
          >Pesquisa...</mat-label
        >

        <input matInput (keyup)="applyFilter($event)" placeholder="Insira um dado conhecido para encontrar o colaborador" #input />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="photoUrl">
          <th mat-header-cell *matHeaderCellDef>Foto</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.url; else elseBlock">
              <app-photo [photoUrl]="element!.url"></app-photo>
            </div>
            <ng-template #elseBlock>
              <img id="profileImage" src="../../../../../assets/no-user-image-icon-27.png" />
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            <a href="mailto: {{element.email}}"><mat-icon>forward_to_inbox</mat-icon></a>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telemóvel</th>
          <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="citizenCard">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CC</th>
          <td mat-cell *matCellDef="let element">{{element.citizenCard}}</td>
        </ng-container>

        <ng-container matColumnDef="taxIdNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NIF</th>
          <td mat-cell *matCellDef="let element">{{element.taxIdNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>{{element.status === 'Disponível' ? 'check' : 'clear'}}</mat-icon>{{element.status}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="changeStatus($event, row)">
                <mat-icon>{{row.status === 'Disponível' ? 'mood_bad' : 'mood'}}</mat-icon>
                <span>{{row.status === 'Disponível' ? 'Ausente' : 'Disponível'}}</span>
              </button>
              <button mat-menu-item (click)="editColaborator($event, row)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="deleteColaborator($event, row)">
                <mat-icon>person_remove</mat-icon>
                <span>Apagar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">Tabela não contém dados ou não encontra valores para o filtro "{{ input.value }}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </main>
</div>
