<div class="container">
  <div class="left-container">
    <div>
      <h1>B&S Booking</h1>
      <h3>Colaboradores</h3>
    </div>
  </div>

  <div class="right-container">
    <mat-card>
      <mat-card-title>{{ textHeader }}</mat-card-title>

      <mat-card-content>
        <div class="photo-container">
          <div class="change-photo" (click)="changeImage()">
            <span class="material-icons photo_camera"> photo_camera </span>
          </div>
          <img *ngIf="false; else avatar" class="resource-photo" />
          <!--   <img *ngIf="photo.new || photo.actual; else avatar" [src]="photo.new || photo.actual" class="resource-photo" /> -->

          <ng-template #avatar>
            <i class="material-icons icon noresource-photo">account_circle</i>
          </ng-template>
        </div>
        <!-- (change)="imageChanged(imageInput)" -->
        <input #imageInput id="image" type="file" />

        <form [formGroup]="collaboratorForm">
          <div class="form-collaborator-data">
            <mat-form-field>
              <mat-label>Nome Completo</mat-label>
              <input matInput type="text" required formControlName="name" />
              <mat-error *ngIf="collaboratorForm?.get('name')?.errors?.required">Field is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input matInput type="text" required formControlName="phone" />
              <mat-error *ngIf="collaboratorForm?.get('phone')?.errors?.required">Field is required</mat-error>
            </mat-form-field>
          </div>

          <div class="form-collaborator-data">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" required formControlName="email" />
              <mat-error *ngIf="collaboratorForm?.get('email')?.errors?.required">Field is required</mat-error>
            </mat-form-field>
          </div>

          <div class="form-collaborator-data">
            <mat-form-field *ngIf="!isEdit">
              <mat-label>CC</mat-label>
              <input matInput type="text" required formControlName="citizenCard" />
              <mat-error *ngIf="collaboratorForm?.get('citizenCard')?.errors?.required">Field is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>NIF</mat-label>
              <input matInput type="text" required formControlName="taxIdNumber" />
              <mat-error *ngIf="collaboratorForm?.get('taxIdNumber')?.errors?.required">Field is required</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <div class="buttons-div">
          <button mat-flat-button type="button" color="warn" routerLink="/home/employees" routerLinkActive="active">
            {{ buttonExitText }}
          </button>
          <button
            mat-flat-button
            type="button"
            color="primary"
            [disabled]="collaboratorForm.invalid"
            (click)="isEdit ? editCollaborator($event, collaboratorForm?.value ) : addCollaborator($event, collaboratorForm?.value )"
          >
            {{ buttonConfirmText }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
