.container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  background-image: url('../../../../../assets/Login-Background.jpg');
  height: auto;
  width: auto;
}

.left-container {
  width: 50%;
  height: 100%;
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  h1 {
    font-size: 3rem;
  }
}

.right-container {
  width: 50%;
  height: 100%;
  mat-card {
    mat-form-field {
      margin: 0.7rem;
    }
  }
}

.buttons-div {
  button {
    margin: 0.7rem;
  }
}
.photo-container {
  padding-bottom: 2rem;
}

#profileImage {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  vertical-align: middle;
}
