<div class="container">

    <div class="container-header">
      <header> Serviços </header>
      <div class="button-container">
        <button mat-flat-button type="button" 
        color="primary"
        (click)="addService()">

        <mat-icon>shopping_bag</mat-icon>
          Novo Serviço
        </button>
      </div>
    </div>
    <div class="container-body">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort >

          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
            <td mat-cell *matCellDef="let element"> {{ element.price | currency: 'EUR' }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell  *matHeaderCellDef > Ações </th>
            <td mat-cell *matCellDef="let row" >
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editService($event, row)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="deleteService($event, row)">
                  <mat-icon>remove</mat-icon>
                  <span>Apagar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
    </div>
</div>
