.container {
  background-image: url('../../../assets/Login-Background.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
  .div-header {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
  }
}

mat-card-title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  a {
    margin-left: 1rem;
    color: #2196f3;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  mat-form-field {
    margin: 1rem;
  }
}

mat-card-actions {
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    width: 100%;
    padding: auto;
    margin: auto;
  }
}

mat-card-footer {
  text-align: center;
  color: rgba(128, 128, 128, 0.993);
  margin-bottom: 0rem;

  a {
    color: #2196f3;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  ul {
    display: flex;
    li {
      margin-right: 1.5rem;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: rgba(233, 233, 248, 0.301);
  }
}
