.container {
  .container-header {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    header {
      color: #2196f3;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-top: 0.5rem;
      font-size: 2rem;
    }
  }
  .container-body {
    padding: 1rem;
    a {
      text-decoration: none;
    }
  }
}
