<main>
  <section>
    <mat-card class="blue-card">
      <mat-card-title>Consiga gerir melhor <b>o seu tempo agora</b> .</mat-card-title>
      <mat-card-content>
        <p>
          Ajude o seu salão ou barbearia a gerir melhor <br />
          o seu tempo através de um sistema de <br />
          marcação automático e flexível.
        </p>
        <p>
          Escolha o seu plano com 30 dias de <br />
          experiência grátis e com o total apoio da <br />
          nossa equipa de desenvolvimento.
        </p>
        <div class="image">
          <img mat-card-image src="../../../assets/Logo.jpg" alt="Logo" />
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="white-card">
      <mat-card-header>
        <mat-card-title>Plano - 6 meses</mat-card-title>
        <h1>15€ /mês</h1>
      </mat-card-header>
      <mat-card-content>
        <h4>Plano inclui:</h4>
        <ul>
          <li>Ver agendamentos marcados através do website feitos na aplicação móvel pelos clientes.</li>
          <li>Adicionar funcionários à lista de funcionários disponíveis para marcação.</li>
          <li>Adicionar serviços prestados pelo seu salão ou barbearia.</li>
          <li>Editar horários de disponibilidade de cada funcionário.</li>
        </ul>

        <h5>Ver todas as funcionalidades</h5>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button routerLink="/signin/account" routerLinkActive="active">Comece já</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="blue-card">
      <mat-card-header>
        <mat-card-title>Plano - 12 meses</mat-card-title>
        <h1>10€ /mês</h1>
      </mat-card-header>
      <mat-card-content>
        <h4>Plano inclui:</h4>
        <ul>
          <li>Ver agendamentos marcados através do website feitos na aplicação móvel pelos clientes.</li>
          <li>Adicionar funcionários à lista de funcionários disponíveis para marcação.</li>
          <li>Adicionar serviços prestados pelo seu salão ou barbearia.</li>
          <li>Editar horários de disponibilidade de cada funcionário.</li>
        </ul>
        <h5>Ver todas as funcionalidades</h5>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button routerLink="/signin/account" routerLinkActive="active">Comece já</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <footer>
    <ul>
      <li><a href="url">Term of Use</a></li>
      <li><a href="url">Help</a></li>
      <li><a href="url">Privacy Policy</a></li>
    </ul>
  </footer>
</main>
