main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  section {
    display: flex;
    height: 80%;
    width: 100%;

    mat-card {
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      width: 33%;
      height: 90%;
      mat-card-header {
        display: flex;
        justify-content: space-between;
      }

      mat-card-title {
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
      mat-card-content {
        * {
          font-size: 1em;
        }
        margin-bottom: 2rem;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 15rem;
          img {
            width: 40%;
            height: auto;
          }
        }
        h5 {
          text-align: center;
        }
      }
      mat-card-actions {
        display: flex;
        justify-content: center;
      }
    }

    .blue-card {
      background-color: #1f8db0;
      color: white;
      margin: 1rem;

      mat-card-title {
        text-align: justify;
      }
      mat-card-content {
        ul {
          li {
            margin: 15px;
          }
        }
      }

      button {
        background-color: white;
        color: #1f8db0;
        border-radius: 15px;
      }
    }

    .white-card {
      background-color: rgba(196, 196, 196, 0.17);
      color: black;
      height: 95%;

      mat-card-title {
        text-align: center;
      }
      mat-card-content {
        ul {
          li {
            margin: 1rem;
          }
        }
      }
      button {
        background-color: #1f8db0;
        color: white;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;

      li {
        margin: 15px;
        a {
          text-decoration: none;
          color: #000;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
