<h1 mat-dialog-title>Configurar novo Email</h1>
<div mat-dialog-content>
  <form [formGroup]="configEmailForm">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email" />
        <mat-error *ngIf="configEmailForm?.get('email')?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password" />
        <mat-error *ngIf="configEmailForm?.get('password')?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Novo Email</mat-label>
        <input matInput type="email" required formControlName="newEmail" />
        <mat-error *ngIf="configEmailForm?.get('newEmail')?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="configEmailForm.invalid"
    (click)="updateLoginData($event, configEmailForm.value)"
    [matDialogClose]=""
  >
    Concluir
  </button>
</div>
